*.pcap
*.csv
*.json
dga/output_dataset/
tunnel/dns-exfiltration-dataset/
tunnel/my-dataset/
typo/*.csv
build/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
venv/
.env
.git.backup/
/dga/train_ML_dga_run.log
